<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="upload-title">
    <span class="upload-title-icon">
      <div class="rekognition-logo-preview">
          <img src="/assets/images/amazonRekognition.png"
            alt="AWS Rekognition Logo"
            width="96"
            height="96"
            style="background:#fff; border-radius:20px; border:3px solid #ffa41b; box-shadow:0 0 9px #ffe6c3;"/>
      </div>
    </span>
    <span class="upload-title-text">AI Image Rekognition</span>
  </div>

  <div class="upload-card">
    <div
      class="drag-drop-zone"
      [class.dragover]="isDragOver"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (dragend)="onDragLeave($event)"
    >
      <label class="custom-file-upload">
        <input type="file" (change)="onImageSelected($event)" accept="image/*" formControlName="file"/>
        <span>Click or Drag an Image Here</span>
      </label>
    </div>
    <div class="preview-section" [hidden]="!imageUrl">
      <img [src]="imageUrl ?? ''" [alt]="imageName ?? ''" class="preview-image" />
      <span class="image-name"></span>
      <button class="clear-btn" type="button" (click)="clearImage()" >Clear</button>
      <button class="submit-btn" [disabled]="myForm.invalid" type="submit">Analyze Image</button>
    </div>
  </div>

  @if (isLoading) {
    <div class="loading" >
      <mat-progress-spinner
          class="spinner"
          mode="indeterminate"
          diameter="70">
      </mat-progress-spinner>
    </div>
  }

  @if (response) {
    <div class="ai-description">
      <strong>AI Generated Description:</strong><br>
      Artificial Intelligence (AI) refers to computer systems and software designed to perform tasks that typically require human intelligence, such as analyzing images, understanding speech, making decisions, or recognizing patterns. AI helps automate complex processes and improve accuracy in areas like image recognition, language translation, and predictive analytics.
    </div>

    <!-- Pretty labels below the card -->
    <div class="ai-description">
      <strong>Labels Detected:</strong><br>
      <div class="labels-row">
      @for (label of response!.labels; track label) {
        <span class="pretty-label ">{{label}}</span>
      }
      </div>
    </div>
  }
</form>
<router-outlet />
